header{
    display: flex;
    flex: content;
    justify-content: space-between;
    top: 0px;
    background-color: #2d2f3a;
    height: 5%;
    width: 100%;
    border-bottom: 1px #5f5f5f solid;
}

body{
    margin: 0px;
    background-image: url("./background_dark.png");
}

div.header-elem{
    position: relative;
    flex: auto;
}

div.header-elem:not(.header-left){
    border-left: 1px #5f5f5f solid;
}
p.header-text{
    margin: 0px;
    font-size: 30px;
    color: #d9d2d4;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#header-img-area
{
    width: 100%;
    background-color: black;
    padding: 0px 0px;
}
img#header-img
{
    display: block;
    margin: 0px auto 50px auto;
    width: auto;
    height: 50%;
}

div#text-area{
    border: 1px #9f9dd4 solid;
    background-color: #454742;
    color: #d2d2d2;
    padding: 10px;
    border-radius: 8px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
