header{
    display: flex;
    flex: content;
    justify-content: space-between;
    top: 0px;
    background-color: #0d0f13;
    height: 4vh;
    width: 100%;
    border-bottom: 1px #5f5f5f solid;
}

body{
    margin: 0px;
    background-image: url("./background_dark.png");
}

div.header-elem{
    position: relative;
    flex: auto;
}

div.header-elem:not(.header-left){
    border-left: 1px #5f5f5f solid;
}
p.header-text{
    margin: 0px;
    font-size: 25px;
    letter-spacing: 5px;
    color: #b9b2b4;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#header-img-area
{
    width: 100%;
    background-color: black;
    padding: 0px 0px;
}
img#header-img
{
    display: block;
    margin: 0px auto 50px auto;
    width: auto;
    height: 50%;
}

div#text-area{
    border: 1px #4f6d84 solid;
    background-color: #2e2f42d2;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    color: #c2c2c2;
    padding: 10px;
    border-radius: 8px;
    width: 66vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

a{
    color: #ada17d;
}

h1{
    padding: 5px 0px;
    font-size: 1.5em;
}

h2{
    margin-left: 10px;
    font-size: 1.3em;
}

p{
    margin-left: 20px;
}